body {
    .news {
        .section-title {
            text-align: left;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .item {
                max-width: 290px;  
                margin: 16px 0;

                div {
                    margin-bottom: 20px;
                }

                &-date {
                    color: #bebebe;
                }

                &-text {
                    font-family: 'DIN Pro Medium', sans-serif;
                    font-size: 17px;
                    color: #282828;
                }
            }
        }
    }
}